/* src/app/app.scss */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif; // Fonte padrão
}

header {
  background-color: #2196f3; // Um tom de azul
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 1.8rem;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: #bbdefb; // Azul mais claro
    }

    &.active {
      border-bottom: 2px solid white;
      padding-bottom: 5px;
    }
  }
}

main {
  flex-grow: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-size: 0.9rem;
}