<header class="app-header">
  <div class="logo-container">
    <img src="assets/CodeByte_.png" alt="CodeByte" class="logo" />
    </div>
  <nav class="main-nav">
    <ul>
      <li><a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Produtos</a></li>
      <li><a routerLink="/products/add" routerLinkActive="active" ariaCurrentWhenActive="page">Adicionar Produto</a></li>
      <li><a routerLink="/categories" routerLinkActive="active" ariaCurrentWhenActive="page">Categorias</a></li>
      <li><a routerLink="/stock" routerLinkActive="active" ariaCurrentWhenActive="page">Stock</a></li>
      <li><a routerLink="/transactions" routerLinkActive="active" ariaCurrentWhenActive="page">Histórico de Transações</a></li>
      <li><a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">Pesquisar</a></li>
    </ul>
  </nav>  
</header>
<br>
<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; {{ currentYear }} CodeByte. Todos os direitos reservados.</p>
</footer>